main {
    min-height: 600px;
    padding: 70px 20px;
}

li {
    display: none;
}

#tap-form {
    margin-top: 25px;
}

#form-toggle-container {
    margin-bottom: 30px;
    margin-top: 50px;
}

#tap-list {
    margin-top: 25px;
}

#tap-list li{
    padding: 10px;
}

#tap-list li:nth-child(even) {
    background: #f1f1f1;
}

#tap-list li .task-action {
    float: right;
    margin-left: 10px;
}

#tap-list .task-complete .task-content {
    opacity: .5;
    text-decoration: line-through;
}

.ti.ti-xs {
    height: 16px;
    min-width: 16px;
}