{% extends "base.html" %}

{% block title %}Module 3{% endblock %}

{% block styles %}
    {# comment
    {{ super() }}
    <link rel="stylesheet" href="../static/css/module_3.css">
    #}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1 class="tdc-hs1 tdc-text-center">TAP Module 3</h1>
    <form id="tap-form" action="/task" method="post" class="row center-xs">
        <fieldset class="col-xs-4">
            <input type="text" name="content">
        </fieldset>
        <fieldset class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-block">+ Add</button>
        </fieldset>
    </form>
    <ol id="tap-list" class="row">
        {% for task in tasks %}
        <li class="col-xs-6 col-xs-offset-3{% if task.done %} task-complete{% endif %}">
            <span class="task-content">{{ task.content }}</span>
            <a href="/delete/{{ task.id }}" class="task-action" aria-label="Remove Task"><i class="ti ti-ut-close ti-xs" aria-hidden="true"></i>Remove</a>
            {% if not task.done %} <a href="/done/{{ task.id }}" class="task-action" aria-label="Mark Task Complete"><i class="ti ti-ut-checkmark ti-xs" aria-hidden="true"></i>Done</a>{% endif %}
        </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block footer %}{% endblock %}
